requests>=2.32.3
redis>=4.3.4

pydicom
pynetdicom>=2.1.0
# pyorthanc>=1.20.0
# orthanc-tools>=0.16.8
# orthanc-tools>=0.12.15

opencv-python>=4.11.0
pylibjpeg>=2.0.1
pylibjpeg-libjpeg>=2.3.0
python-gdcm>=3.0.24
